$logo-height:25%;
$logo-width:25%;
$alignitems:center;
$top-gap:10px;
$text-decor:solid;
$border-gap:15px;
$hover-effect-color: rgba(226, 205, 14, 0.938);
$hover-background-color:white;
$line-padding:15% 15%;
$left-gap:15%;
$naturepic:url('mmm.jpg');
$family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
$style:italic;
$mobile:800px;